<header>
    <i>
        <h1>Auction</h1>
    </i>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/products/add">Add Post</a>
        </li>
        <li>
            <a href="/profile">Profile</a>
        </li>
        <li>
            <a href="/users/logout">Logout</a>
        </li>
    </ul>
</header>