body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

input {
  margin: 8px;
  padding: 5px;
}

button {
  margin: 8px;
  padding: 8px;
  background-color: rgb(6, 175, 32);
  color: white;
  font-size: large;
  border: 1px solid grey;
  cursor: pointer;
}

.errors {
  min-width: 50%;
  color: white;
}

.errors h6 {
  background-color: rgb(247, 156, 156);
  padding: 16px;
  border-radius: 4px;
  font-size: small;
  font-weight: bold;
}

footer {
  background-color: #3fbdce;
  width: 100%;
  padding: 20px 0;
  color: white;
}

header {
  display: flex;
  background-color: #3fbdce;
  color: white;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header h1 {
  margin: 16px;
}

header ul {
  display: flex;
  justify-content: space-around;
}

header ul li {
  list-style: none;
  margin: 16px;
}

header ul li a {
  color: white;
  text-decoration: none;
}

a {
  color: #0073ff;
}

.imgcontainer {
  background-color: rgb(248, 248, 248);
  width: 400px;
  margin: 16px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid rgba(159, 159, 159, 0.204);
  box-shadow: 0px 0px 10px rgb(145, 145, 145);
}

.imgcontainer img {
  max-height: 400px;
  max-width: 400px;
  background-color: #ffffff;
}

.tag {
  display: flex;
}

.tag p {
  background-color: rgb(71, 111, 255);
  color: white;
  margin: 4px;
  padding: 4px 8px;
  border-radius: 4px;
}

.bid {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.bidform {
  border-radius: 4px;
  border: 1px solid rgb(165, 165, 165);
  margin-bottom: 4px;
}

.bidform label {
  margin-top: 16px;
}

.bidform div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.userCard {
  background-color: rgb(248, 248, 248);
  width: 400px;
  margin: 16px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid rgba(159, 159, 159, 0.204);
  box-shadow: 0px 0px 10px rgb(145, 145, 145);
}

.searchbar {
  flex-direction: row;
  padding: 16px;
  min-width: 400px;
  height: 40px;
}

.searchbar input {
  margin: 0;
  padding: 4px;
  width: 90%;
  border-radius: 8px 0 0 8px;
  border: 1px solid rgb(199, 199, 199);
}

.searchbar button {
  width: 10%;
  margin: 0;
  padding: 0;
  background-color: rgb(230, 230, 230);
  border-radius: 0 8px 8px 0;
  border: 1px solid rgb(199, 199, 199);
}

.comments {
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 8px;
  padding: 8px;
}

.comment div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
